@model MVC.Models.Usuario

@{
    ViewData["Title"] = "Eliminar usuario";
}


 <div class="contenedor justify-content-center flex-column">
    <h3>¿Eliminar cuenta?</h3>
    <h4>¡¡Esta acción no tiene vuelta atras!!</h4>
    <div class="contenedorLogin">
        <div class="text-center d-flex flex-column">
            <span><b>Email:</b> @(Model.Email)</span>
            <span><b>Nombre: </b> @(Model.Nombre)</span>
        </div>
        <form class="loginForm" asp-action="Delete">
            <div class="contenedorBoton gap-4">
                <input type="submit" value="Eliminar cuenta" class="btn btn-danger"/>
                <a asp-controller="Tableros" asp-action="Index" class="btn btn-success">Cancelar</a>
            </div>
        </form>
    </div>
 </div>
