@model MVC.Models.Usuario

@{
    ViewData["Title"] = "Mis datos";
}

<div class="contenedor">
    <div class="contenedorLogin">
        <h1 class="text-center">Mis datos</h1>
        <form asp-action="Edit" class="loginForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="contenedorInput">
                <input asp-for="Email" class="formInput" placeholder="Email@dominio.com"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="contenedorInput">
                <input asp-for="Nombre" class="formInput" placeholder="Nombre"/>
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="contenedorInput">
                <input asp-for="Password" type="password" class="formInput" placeholder="Nueva contraseña"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="contenedorBoton gap-4">
                <input type="submit" value="Guardar cambios" class="btn btn-success" />
                <a asp-controller="Tableros" asp-action="Index" class="btn btn-danger">Cancelar</a>
            </div>
            <div class="mt-4 d-flex justify-content-center">
                <a asp-controller="Usuarios" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-outline-danger">Eliminar cuenta</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
