@model MVC.Models.Tablero

@{
    ViewData["Title"] = "Eliminar tablero";
}

<div class="contenedor">
    <div class="contenedorLogin">
    
        <div class="text-center">
            <h2>Eliminar Tablero</h2>
            <span><b>¡Todas las tareas relacionadas se eliminaran!</b></span>

        </div>
        <div class="text-center d-flex flex-column mt-3">
            <span><b>Tablero: </b> @(Model.Titulo)</span>
            <span><b>Descripcion: </b> @(Model.Subtitulo) </span>
        </div>
        <form asp-action="Delete" class="loginForm">
            <input type="hidden" asp-for="Id" />
            <div class="contenedorBoton gap-4">
                <input type="submit" value="Eliminar tablero" class="btn btn-danger" />
                <a class="btn btn-secondary" asp-action="Index">Cancelar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
