@model IEnumerable<MVC.Models.Tablero>


@{
    ViewData["Title"] = "Index";
}

<h1>Mis Tableros</h1>

<p>
    <a asp-action="Create" class="text-decoration-none fs-1"> + </a>
</p>

@foreach (var item in Model) {
    <div class="border border-black m-2 ">
        <div class="d-flex">

            <div>
                @Html.DisplayFor(modelItem => item.Titulo)
            </div>

            <div>
                @Html.DisplayFor(modelItem => item.Subtitulo)
            </div>

            <div>
                @Html.DisplayFor(modelItem => item.Color)
            </div>
        </div>
        

        <a asp-controller="Tareas" asp-action="Create" class="text-decoration-none fs-6"> + Nueva tarea </a>
        
    </div>
}
