@model IEnumerable<MVC.Models.Tablero>

@{
    ViewData["Title"] = "Index";
}

<h1>Mis Tableros</h1>

<p>
    <a asp-action="Create" class="text-decoration-none fs-1"> + </a>
</p>

@foreach (var item in Model) {
    <div>
        <div>
            @Html.DisplayFor(modelItem => item.Titulo)
        </div>

        <div>
            @Html.DisplayFor(modelItem => item.Titulo)
        </div>

        <div>
            @Html.DisplayFor(modelItem => item.Titulo)
        </div>
    </div>
}
