@model MVC.Models.Tarea

@{
    ViewData["Title"] = "Crear tarea";
    int tableroId = ViewBag.TableroId;
}
<div class="d-flex justify-content-center">
    <div class="contenedorLogin">
        <h1 class="text-center">Nueva tarea</h1>
        <form class="loginForm" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="contendorInput">
                <input asp-for="Nombre" class="formInput" placeholder="Tarea"/>
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="contendorInput">
                <input asp-for="FechaLimite" type="date" class="formInput" min="@DateTime.Now.ToString("yyyy-MM-dd")" />
                <span asp-validation-for="FechaLimite" class="text-danger"></span>
            </div>
            <input type="hidden" name="tableroId" value="@tableroId" />
            <div class="d-flex justify-content-center mt-4 gap-4">
                <input type="submit" value="Crear tarea" class="btn btn-success" />
                <a class="btn btn-danger" asp-controller="Tableros" asp-action="Index">Volver</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
