@model MVC.Models.Tarea

@{
    ViewData["Title"] = "Eliminar tarea";
}

<div class="contenedor justify-content-center flex-column">
   <div class="contenedorLogin">
        <h2 class="text-center">Eliminar Tarea</h2>
       <div class="text-center d-flex flex-column">
           <span><b>Tarea: </b>@(Model.Nombre)</span>
           <span><b>Fecha limite: </b>@(Model.FechaLimite.ToString("dd/MM/yyyy"))</span>
       </div>
        <form class="loginForm" asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <div class="contenedorBoton gap-4">
                <input type="submit" value="Eliminar tarea" class="btn btn-danger" />
                <a class="btn btn-secondary" asp-controller="Tableros" asp-action="Index">Cancelar</a>
            </div>
        </form>
   </div>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
