@model MVC.Models.Tarea

@{
    ViewData["Title"] = "Editar tarea";
}

<div class="contenedor">
    <div class="contenedorLogin">
        <h1 class="text-center">Editar tarea</h1>
        <form asp-action="Edit" class="loginForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" name="tableroId" value="@ViewBag.TableroId" />

            <div class="contenedorInput">
                <input asp-for="Nombre" class="formInput" placeholder="Tarea" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>

            <div class="contenedorInput">
                <input type="date" asp-for="FechaLimite" class="formInput" min="@DateTime.Now.ToString("yyyy-MM-dd")" />
                <span asp-validation-for="FechaLimite" class="text-danger"></span>
            </div>
            <div class="d-flex justify-content-center mt-4 gap-4">
                <input type="submit" value="Guardar cambios" class="btn btn-success" />
                <a class="btn btn-danger" asp-controller="Tableros" asp-action="Index">Cancelar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
