@{
    ViewData["Title"] = "ToDo";
}

<div class="row mt-4">
    <div>
        <a asp-controller="Account" asp-action="Login"> Iniciar sesión </a>
        <a asp-controller="Account" asp-action="Register"> Registrarse </a>
    </div>
</div>