<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="d-grid gap-2">
                <a asp-controller="Account" asp-action="Login" class="btn btn-primary btn-lg mb-3">Iniciar sesión</a>
                <a asp-controller="Account" asp-action="Register" class="btn btn-secondary btn-lg">Registrarse</a>
            </div>
        </div>
    </div>
</div>
