

@{
    ViewData["Title"] = "ToDo";
}

<div class="row mt-4">
    <div>
        <a asp-controller="Tableros" asp-action="Index"> Ver mis tableros </a>
        <a asp-asp-controller="Tableros" asp-action="Create" > Crear nuevo tablero</a>
    </div>
    
</div>